@model IEnumerable<MvcProjectDbConn.TimeSheetEntry>
@using MvcProjectDbConn;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "TimeSheetEntriesForCurrentUser";
    var user = User.Identity.GetUserId();
    using (TimeSheetDbContext db = new TimeSheetDbContext())
    {
        var name = db.Employees.Find(user);

<h2>TimeSheetEntries for @name.FullName</h2>
        }
    }

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </th>
    
       
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Project.ProjectName)
        </td>
    
      
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TimeSheetEntryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TimeSheetEntryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TimeSheetEntryId })
        </td>
    </tr>
}

</table>
