@model IEnumerable<MvcProjectDbConn.TimeSheetEntry>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<h1>@User.Identity.Name's Entries</h1>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.Name)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.TimeSheetEntryId }) |
            @Html.ActionLink("Details", "Details", new { id = item.TimeSheetEntryId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TimeSheetEntryId })
        </td>
    </tr>
}

</table>
