@model IEnumerable<MvcProjectDbConn.ClientProject>
@using MvcProjectDbConn;
@{
    List<string> projectBillRate = new List<string>();
    using(TimeSheetDbContext db=new TimeSheetDbContext())
    {
        var proj = db.ClientProjects.Where(x => x.BillRate!=null);
        foreach (var item in proj)
        {
            projectBillRate.Add(item.Project.ProjectName);
        }
    }
    ViewBag.Title = "Index";
}

<h2>Client Projects</h2>

<p>
    @Html.ActionLink("Create New", "CreateSelect")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </th>
        <th>
            Project bill rate
        </th>
        <th>
          Client bill rate
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Project.ProjectName)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.BillRate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Client.BillRate)
    </td>
    <td>
        @Html.ActionLink("Details","ClientDetails",new { id=item.ProjectId})|
        @if (projectBillRate.Any(x=>x==item.Project.ProjectName))
        {
        @Html.ActionLink("Change bill rate", "ChangeProjectBillRate", new { id = item.id }) 
       }
       | @Html.ActionLink("Delete", "Delete", new { id = item.id })
    </td>
</tr>
    }

</table>
@section scripts{
    @Scripts.Render("~/bundles/jqueryunobtrusive")
    <script>
        $(document).ready(function () {
            "use strict";

            $("span#searchLink").on("click", function () {
                $("div#search").slideToggle();
            })
        });
    </script>
}
<span id="searchLink">@Ajax.ActionLink("Search", "ClientProjectSearch", new AjaxOptions { UpdateTargetId = "search" })</span>
<div id="search"></div>
