@model MvcProjectDbConn.Project

@{
    ViewBag.Title = "Details";
}
@{
    if (ViewBag.error == true)
    {
        <p>Please ensure that there is a number at the end of the url</p>
    }
    else if (ViewBag.clientError == true)
    {
        <p>We don't have a project with that id number in our system</p>
    }
    else
    {
<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TtpUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TtpUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    <%= @Html.ActionLink("Schedule this job", "ScheduleJob", "WorkSchedules", new { id = Model.ProjectId }, null)%>|
    <%=@Html.ActionLink("View all times scheduled for this job ", "JobSchedule", "WorkSchedules", new { id = Model.ProjectId }, null)%>
</p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectId }) |
    @Html.ActionLink("Back to List", "UserIndex")
</p>
        }
    }