
@{
    ViewBag.Title = "BillTotal";
}
@{ 
    if (ViewBag.Error == true)
    {
        @Html.ValidationMessage("error");
<P>You can't bill a project that is still active. But the total hours worked until now is @ViewBag.Hours</P>
    }
    else
    {
<h2>BillTotal</h2>
<p>The total hours of the job @ViewBag.Project done for @ViewBag.Client is @ViewBag.Hours</p>
<p>The total bill is @ViewBag.Total</p>
        }
    }
