@model IEnumerable<MvcProjectDbConn.Client>

@{

    ViewBag.Title = "Index";
}

<h2>Clients</h2>
<style>
    span {
        margin: 164px;
    }
</style>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@section scripts{
    @Scripts.Render("~/bundles/jqueryunobtrusive")
    <script>
        $(document).ready(function () {
            "use strict";

            $("span#searchLink").on("click", function () {
                $("div#search").slideToggle();
            })
        });
    </script>
}
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillByClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillByProject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillRate)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.ClientName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ClientEmail)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ClientPhoneNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ClientAddress)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BillByClient)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BillByProject)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BillRate)
    </td>


    <td>
        @Html.ActionLink("Details", "Details", new { id = item.ClientId }) |
        @Html.ActionLink("Do job for this client", "CreateProjectForClient", "Projects", new { id = item.ClientId }, null)
    </td>
</tr>
    }

</table>
<style>
    span {
        margin: 70px;
    }
</style>
<span>@Html.ActionLink("View deleted clients", "ViewDeletedClients") </span>

<span id="searchLink">
    @Ajax.ActionLink("open/close search", "Search",
new AjaxOptions { UpdateTargetId = "search" })
</span>

<div id="search"></div>
