
@{
    ViewBag.Title = "Select";
}

<h1> Hello @User.Identity.Name </h1>
<h2> Please Select what you'd like to do</h2>
<p>To add a client @Html.ActionLink("click here", "Create", "Clients")</p>
<p>To view all TimeEntriesByDate  @Html.ActionLink("click here", "UserIndex", "TimeSheetEntries")</p>

<p>To view all TimeEntriesByDate by date @Html.ActionLink("click here", "FindTimeEntriesByDate", "TimeSheetEntries")</p>
<p>To add a job @Html.ActionLink("click here", "Create", "Project")</p>
