@using Microsoft.AspNet.Identity;
@using MvcProjectDbConn;
@{

    ViewBag.Title = "Dashboard";
    var user = User.Identity.GetUserId();
    using (TimeSheetDbContext db = new TimeSheetDbContext())
    {
        var CompanyName = db.CompanyEmployees.Include("Company").SingleOrDefault(x => x.EmployeeId == user);


        <h1> Welcome to the dasboard of @CompanyName.Company.CompanyName </h1>
        <h2> Please Select what you'd like to do</h2>
        <p>To see your job for today and punch in @Html.ActionLink("click here", "EmployeeDashboard", "WorkSchedules")</p>
        <p>To  schedule jobs @Html.ActionLink(" click here", "Create", "WorkSchedules")</p>
        <p>To view add and manage clients @Html.ActionLink("click here", "Index", "Clients")</p> //this screen should ave nav to client bills
        <p>To view add and manage Employees @Html.ActionLink(" click here", "index", "CompanyEmployees")</p>//this screen should ave nav to employee pay stubs
        <p>To view add and manage Projects @Html.ActionLink(" click here", "index", "Projects")</p> //this screen should ave nav to client projects
        <p>To view  and manage scheduled jobs @Html.ActionLink(" click here", "index", "WorkSchedules")</p>//this screen should ave nav to time sheet entries
        if (User.IsInRole("Ceo") || User.IsInRole("Senior Managment") || User.IsInRole("Finance department"))
        {
            <p>To go to the finance department dashboard @Html.ActionLink("click here", "FinanceDashboard")</p>
        }

    }
}



