@using Microsoft.AspNet.Identity;
@using MvcProjectDbConn;
@{
    ViewBag.Title = "FinanceDashboard";
    var user = User.Identity.GetUserId();
    using (TimeSheetDbContext db = new TimeSheetDbContext())
    {
        var CompanyName = db.CompanyEmployees.Include("Company").SingleOrDefault(x => x.EmployeeId == user);

        <h1> Welcome to the finance dasboard of @CompanyName.Company.CompanyName </h1>


        <h2> Please Select what you'd like to do</h2>
        <p>To see your job for today and punch in @Html.ActionLink("click here", "EmployeeDashboard", "WorkSchedules")</p>
        <p>To view add and manage client bills @Html.ActionLink("click here", "Index", "ClientBills")</p> //this screen should ave nav to client bills
        <p>To view add and manage employee pay stubs @Html.ActionLink(" click here", "Index", "EmployeePayStubs")</p>//this screen should ave nav to employee pay stubs
        <p>To view add and manage projects for clients @Html.ActionLink(" click here", "ClientProjectIndex", "Projects")</p> //this screen should ave nav to client projects
        <p>To view add and manage time sheet entries @Html.ActionLink(" click here", "Index", "TimeSheetEntries") </p>
    }
    if (User.Identity.IsAuthenticated)
    {
        <p>To go to the main dashboard @Html.ActionLink("click here", "Dashboard")</p>
    }
}