@model IEnumerable<MvcProjectDbConn.EmployeePayStub>
@using CompuskillsMvcProject.Models;
@using MvcProjectDbConn;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
    Payment payment = new Payment();
    var user = User.Identity.GetUserId();
    using (TimeSheetDbContext db = new TimeSheetDbContext())
    {
        var employee = db.CompanyEmployees.SingleOrDefault(x => x.EmployeeId == user);
        var Company = db.Companies.SingleOrDefault(x => x.CompanyId == employee.CompanyId);
        bool Payed = db.EmployeePayStubs.Any(x => x.CompanyId==Company.CompanyId);
        var Interval = Company.ClientBillInterval;
        DateTime date = new DateTime();
        if (Payed == true)
        {
            var PayStub = db.EmployeePayStubs.Where(x => x.CompanyId == Company.CompanyId).OrderByDescending(x => x.PayDay).FirstOrDefault();
            date = PayStub.PayDay;
        }
<h2>Employee Pay Stubs</h2>


<table class="table">
    <tr>
        <th>
            Employee name
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PayCheck)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayDay)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayCheck)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayDay)
            </td>
            <td>
           
                @Html.ActionLink("Details", "Details", new { id = item.id })
            </td>
        </tr>
    }

</table>
@section scripts{
    @Scripts.Render("~/bundles/jqueryunobtrusive")
    <script>
        $(document).ready(function () {
            "use strict";
            $("p").hide();
            $("span#Pay").on("mouseover", function () {
                $("p").show();
            })
            $("span#Pay").on("mouseleave", function () {
                $("p").hide();
            })
            $("span#searchLink").on("click", function () {
                $("div#search").slideToggle();
            })
        });
    </script>
}
<style>
    span {
        margin: 164px;
    }
</style>
<span id="searchLink">@Ajax.ActionLink("open/close search", "Search", new AjaxOptions { UpdateTargetId = "search" })</span>
<span id="Pay">@Html.ActionLink("Pay employees", "PayEmployees")</span>
<p>
  @payment.BillPayMessage(user, Payed, Interval, "employee pay day", date);
    Click the Pay employees link if this date has come and
    you aren't being shown the paystubs
</p>
<div id="search"></div>
        }
    }