@model MvcProjectDbConn.Project
@section scripts{
    @Scripts.Render("~/bundles/jqueryunobtrusive")
}
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TtpUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TtpUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectId }) |
    @Html.ActionLink("Back to List", "UserIndex")|
</p>
@Ajax.ActionLink("Punch In", "PunchIn", "Project",new {id=Model.ProjectId }, new AjaxOptions { UpdateTargetId = "PunchIn" })|
@Ajax.ActionLink("punch out", "PunchOut", "Project", new { id = Model.ProjectId }, new AjaxOptions { UpdateTargetId = "PunchOut" })|
@Ajax.ActionLink("All Time Sheet Entries or this job", "ProjectEntries", "Project", new { id = Model.ProjectId }, new AjaxOptions {UpdateTargetId="Entries" })
<div id="PunchIn">
<div id="PunchOut"></div>
<div id="Entries"></div>
</div>