@using MvcProjectDbConn
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BizAssist</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BizAssist", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (User.IsInRole("Ceo") || User.IsInRole("Human resources department") || User.IsInRole("Senior Managment"))
                    {
                        <li>@Html.ActionLink("Dashboard", "Dashboard", "Home")</li>
                    }
                    @if (User.IsInRole("Ceo") || User.IsInRole("Finance Department") || User.IsInRole("Senior Managment"))
                    {
                        <li>@Html.ActionLink("Financial dashboard", "FinanceDashboard", "Home")</li>
                    }
                    @if (User.IsInRole("Ceo") || User.IsInRole("Human resources department") || User.IsInRole("Senior Managment"))
                    {
                        <li>@Html.ActionLink("Company details","Details","Companies")</li>
                    }
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Send Chat","Create","Chats")</li>
                    <li>@Html.ActionLink("employee dashboard", "EmployeeDashboard", "WorkSchedules")</li>
                    @{
                        DateTime date = DateTime.Now;
                        TimeSpan span = new TimeSpan(10, 0, 0);
                        DateTime time = date - span;

                        using (TimeSheetDbContext db = new TimeSheetDbContext())
                        {
                            var currentUser = User.Identity.GetUserId();
                            if (db.TimeSheetEntries.Any(x => x.EmployeeId == currentUser && x.StartTime >= time && x.EndTime == null))
                            {
                                <li>  @Html.ActionLink("Punchout", "PunchOut", "TimeSheetEntries")</li>
                            }
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>
    <div class="container body-content">
        <h1>BizAssist</h1>
        @using (TimeSheetDbContext db = new TimeSheetDbContext())
        {
            var user = User.Identity.GetUserId();
            var CompanyEmp= db.CompanyEmployees.Any(x => x.EmployeeId == user);
            var Company = db.CompanyEmployees.Include("Company").SingleOrDefault(x => x.EmployeeId == user);
            if (User.Identity.IsAuthenticated &&CompanyEmp==true)
            {
                <h2>@Company.Company.CompanyName</h2>
            }
        }
        @RenderBody()
        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - BizAssist</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
